<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>stylesheet.css</title>
    <script src="js/konami.js"></script>
    <style>
    	body{
    		background-color:black;
    	}

    	h1{
    		color:rgb(32,194,14);
    		font-size:125px;
    		text-align:center;
    		font-family:hacker;
    	}
    	@font-face{
    		font-family:hacker;
    		src: url(HACKED.ttf);
    	}
    </style>

